.header{
    text-align: center;
    background-color: rgb(252, 236, 9);
    color: black;
    font-size: 35px;
    height: 120px;
    padding-bottom: 50px;
    padding-top: 20px;
   
    margin-bottom: 50px;
}
h2{
    margin-top: 15px;
    margin-bottom: 0;
}

p{
    font-size: 25px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}


